body {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        background-color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
h1, h2, h3, p {
    margin: 0;
}
a {
    padding: 0;
    margin: 0;
}
/* header */
.container {
 width: 1128px;
 padding: 0 15px;
 margin: 0 auto;
}
.header-container {
 display: flex;
}
.header {
    display: flex;
  
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
}
/* logo header*/
.logo {
    padding-top: 24px;
    padding-bottom: 24px;

}
.logo-link{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;

}
.logo-studio-header {
        color: #2e2f42;
}
/* navigate */
.navigate {
  display: flex;
  margin-right: auto;
  

}
.navigate-list {
    display: flex;
    gap: 40px;
        padding-top: 24px;
            padding-bottom: 24px;
    margin-left: 76px;
}
    
.navigate .link-nav {
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
            padding-top: 24px;
                padding-bottom: 24px;


}
.navigate .link-nav:hover,
.navigate .link-nav:focus {
    color: #404bbf;
    text-decoration: none;

}
.navigate .link-nav:active{
    color: #404bbf;
    text-decoration: underline;
}

/* contacts */
 .contacts {
    font-style: normal;


 }
.contact {
    font-family: "Roboto", sans-serif;
    color: #434455;

}
.contact:hover, 
.contact:focus {
    color: #404bbf;
}
.contacts-list {
    display: flex;
    gap: 40px;

}
.contact {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

/* main */
/* hero */
.main-title {
    background-color: #2e2f42;
    padding-bottom: 188px;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    color: #fff;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding-top: 188px;
    padding-bottom: 48px;
    margin: auto;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.title-name {
    color:#2e2f42;
    letter-spacing: 0.02em;
}
.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
    display: block;
    padding: 16px 32px;
    
}
.btn:hover,
.btn:focus {
    background: #404bbf;
}

/* -------------------------- */

/* our-adventages */
.our-advantages {}

.container {}

.title-sections {}

.our-advantages-list {
    display: flex;
    gap: calc();
}

.our-advantages-item {}

.title-name {
    max-width: 264px;
    padding-top: 120px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-main {
    max-width: 264px;
    padding-bottom: 120px;
}
/* ------------------ */



.title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}
.text-main {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team-card {
    background-color: #fff;
}
.portfolio {
    background-color: fff;
}
.title-sections {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-team {
    background-color: #f4f4fd;
}
/* footer */

.logo-studio-footer {
    color: #f4f4fd;
}
.text-footer {
    color: #f4f4fd;
    line-height: 1,5;
    letter-spacing: 0.02em;
}
.background-footer {
    background-color: #2e2f42;
}